* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.sh text eol=lf
railway/init-app.sh text eol=lf
railway/start.sh text eol=lf
railway/clear-cache.sh text eol=lf
railway/env-db.sh text eol=lf
railway/migrate.sh text eol=lf
railway/seed.sh text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
